In [15]:
import pandas as pd

# Bài 1:
## 1.1 Đọc bộ dữ liệu: Womens Clothing E-Commerce Reviews.csv (chọn cột index là cột đầu tiên, đổi các dấu cách ' ' trong tên mỗi cột thành dấu '_')

In [16]:
# 1.1.
df = pd.read_csv("Womens Clothing E-Commerce Reviews.csv")

In [17]:
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [18]:
df_change_name = df.rename(columns=lambda x: x.replace(" ", "_"))

In [19]:
df_change_name_index = df_change_name.set_index(df_change_name.columns[0])

In [20]:
df_change_name_index

,Clothing_ID,Age,Title,Review_Text,Rating,Recommended_IND,Positive_Feedback_Count,Division_Name,Department_Name,Class_Name
Unnamed:_0,,,,,,,,,,
0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses
...,...,...,...,...,...,...,...,...,...,...
23481,1104,34,Great dress for many occasions,I was very happy to snag this dress at such a ...,5,1,0,General Petite,Dresses,Dresses
23482,862,48,Wish it was made of cotton,"It reminds me of maternity clothes. soft, stre...",3,1,0,General Petite,Tops,Knits
23483,1104,31,"Cute, but see through","This fit well, but the top was very see throug...",3,0,1,General Petite,Dresses,Dresses
23484,1084,28,"Very cute dress, perfect for summer parties an...",I bought this dress for a wedding i have this ...,3,1,2,General,Dresses,Dresses
23485,1104,52,Please make more like this one!,This dress in a lovely platinum is feminine an...,5,1,22,General Petite,Dresses,Dresses

## 1.2. Tạo cột Customer gồm Young (18-30 tuổi), Senior (trên 30-50 tuổi), Elderly (trên 50 tuổi)

In [21]:
# 1.2.
def categorize_age(age):
    if age >= 18 and age <= 30:
        return 'Young'
    elif age > 30 and age <= 50:
        return 'Senior'
    else:
        return 'Elderly'

df_change_name_index['Customer'] = df_change_name_index['Age'].apply(lambda x: categorize_age(x))

In [22]:
df_change_name_index

,Clothing_ID,Age,Title,Review_Text,Rating,Recommended_IND,Positive_Feedback_Count,Division_Name,Department_Name,Class_Name,Customer
Unnamed:_0,,,,,,,,,,,
0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates,Senior
1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses,Senior
2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,Elderly
3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants,Senior
4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses,Senior
...,...,...,...,...,...,...,...,...,...,...,...
23481,1104,34,Great dress for many occasions,I was very happy to snag this dress at such a ...,5,1,0,General Petite,Dresses,Dresses,Senior
23482,862,48,Wish it was made of cotton,"It reminds me of maternity clothes. soft, stre...",3,1,0,General Petite,Tops,Knits,Senior
23483,1104,31,"Cute, but see through","This fit well, but the top was very see throug...",3,0,1,General Petite,Dresses,Dresses,Senior
23484,1084,28,"Very cute dress, perfect for summer parties an...",I bought this dress for a wedding i have this ...,3,1,2,General,Dresses,Dresses,Young
23485,1104,52,Please make more like this one!,This dress in a lovely platinum is feminine an...,5,1,22,General Petite,Dresses,Dresses,Elderly

## 1.3. Tạo dataframe gồm 3 cột: 
- Customer, 
- Class Name nhận được nhiều lượt review nhất trong nhóm Customer đó, 
- số lượng review tương ứng.

In [ ]:
# 1.3.

## 1.4. Tạo dataframe gồm 2 cột: Cột đầu gồm 5 Review Text có lượng Positive Feedback Count cao nhất, cột 2 là số lượng Positive Feedback Count tương ứng, sắp xếp theo thứ tự Positive Feedback Count giảm dần

In [ ]:
# 1.4.

## 1.5. Tạo dataframe gồm 3 cột:
- Department Name, 
- Good rating (Số lượng Rating từ 4 trở lên)
- Bad rating (Số lượng Rating từ 2 trở xuống)
Sắp xếp theo thứ tự giảm dần của Bad rating, nếu có 2 Bad rating bằng nhau thì theo thứ tự giảm dần của Good rating.

In [ ]:
# 1.5.

# Bài 2

## 2.1. Đọc bộ dữ liệu: Churn_modeling.txt (header là row thứ nhất và index là trường RowNumber).

In [ ]:
# 2.1.

## 2.2. Thống kê mô tả đối với các trường trong bảng dữ liệu này.

In [ ]:
# 2.2.

## 2.3. Tính trung bình điểm CreditScore theo Geography.

In [ ]:
# 2.3.

## 2.4. Phân đều Age thành 5 nhóm độ tuổi sao cho mỗi nhóm chiếm 20% số quan sát.

In [ ]:
# 2.4.

## 2.5. Vẽ biểu đồ barchart thống kê số lượng khách hàng theo nhóm độ tuổi vừa tạo được.

In [ ]:
# 2.5.