## Loading data into Pandas

In [99]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')

# print(df.head(5))

# df_xlsx = pd.read_excel('pokemon_data.xlsx')
# print(df_xlsx.head(3))

# df = pd.read_csv('pokemon_data.txt', delimiter='\t')

# print(df.head(5))

df.head(20)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False

In [7]:
df.shape

(800, 12)

## Reading Data in Pandas

In [20]:
#### Read Headers
df.columns

## Read each Column
# print(df[['Name', 'Type 1', 'HP']])

## Read Each Row
# print(df.iloc[0:4])
# for index, row in df.iterrows():
#     print(index, row["Name"])
df[df["Type 1"] == "Grass"]

## Read a specific location (R,C)
# print(df.iloc[2,1])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [22]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [25]:
df["Type 1"].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [26]:
df["Type 2"].unique()

array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)

## Sorting/Describing Data

In [54]:
df_sorted_type1_hp = df.sort_values(["Type 1", "HP"])

df_sorted_type1_hp

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
462,415,Combee,Bug,Flying,30,30,42,30,42,70,4,False
603,543,Venipede,Bug,Poison,30,45,59,30,39,57,5,False
314,290,Nincada,Bug,Ground,31,45,90,30,30,40,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
142,131,Lapras,Water,Ice,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,130,65,60,110,95,65,1,False
350,320,Wailmer,Water,NaN,130,70,35,70,35,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False

## Making changes to the data

In [79]:
# df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

# df = df.drop(columns=['Total'])

# df['Total'] = df.iloc[:, 4:10].sum(axis=1)

# cols = list(df.columns)
# df = df[cols[0:4] + [cols[-1]]+cols[4:12]]

# df.head(5)

Index(['#', 'Name', 'Type 1', 'Type 2', 'Legendary', 'Total', 'HP', 'Attack',
       'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation'],
      dtype='object')

In [58]:
45+49+49+65+65+45

318

## Saving our Data (Exporting into Desired Format)

In [94]:
df.to_csv('modified.csv', index=False)

#df.to_excel('modified.xlsx', index=False)

# df.to_csv('modified.txt', index=False, sep='\t')

## Filtering Data

In [88]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
new_df

new_df.reset_index(drop=True, inplace=True)

new_df

# new_df.to_csv('filtered.csv')

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,3,Venusaur,Grass,Poison,False,970,80,82,83,100,100,80,1
1,3,VenusaurMega Venusaur,Grass,Poison,False,1170,80,100,123,122,120,80,1
2,45,Vileplume,Grass,Poison,False,930,75,80,85,110,90,50,1
3,71,Victreebel,Grass,Poison,False,910,80,105,65,100,70,70,1
4,591,Amoonguss,Grass,Poison,False,898,114,85,70,85,80,30,5


## Conditional Changes

In [95]:
df.loc[df['Total'] > 500, ['Generation','Legendary']] = ['Test 1', 'Test 2']

df

df = pd.read_csv('modified.csv')

df

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,Test 2,591,45,49,49,65,65,45,Test 1
1,2,Ivysaur,Grass,Poison,Test 2,750,60,62,63,80,80,60,Test 1
2,3,Venusaur,Grass,Poison,Test 2,970,80,82,83,100,100,80,Test 1
3,3,VenusaurMega Venusaur,Grass,Poison,Test 2,1170,80,100,123,122,120,80,Test 1
4,4,Charmander,Fire,NaN,Test 2,553,39,52,43,60,50,65,Test 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,Test 2,1150,50,100,150,100,150,50,Test 1
796,719,DiancieMega Diancie,Rock,Fairy,Test 2,1290,50,160,110,160,110,110,Test 1
797,720,HoopaHoopa Confined,Psychic,Ghost,Test 2,1130,80,110,60,150,130,70,Test 1
798,720,HoopaHoopa Unbound,Psychic,Dark,Test 2,1280,80,160,60,170,130,80,Test 1
799,721,Volcanion,Fire,Water,Test 2,1130,80,110,120,130,90,70,Test 1

## Aggregate Statistics (Groupby)

In [96]:
df = pd.read_csv('modified.csv')

df['count'] = 1

df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

In [122]:
df = pd.read_csv('pokemon_data.csv')

df.columns

df_mod = df.loc[:, ["Type 1", "HP", "Attack", "Defense"]]

df_mod

df_mod["count"] = 1

df_mod.groupby(["Type 1"]).count()["count"]

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

## Working with large amounts of data

In [97]:
new_df = pd.DataFrame(columns=df.columns)

for df in pd.read_csv('modified.csv', chunksize=5):
    results = df.groupby(['Type 1']).count()
    
    new_df = pd.concat([new_df, results])

In [130]:
df = pd.read_csv("pokemon_data.csv")

df["Type 2"]

0      Poison
1      Poison
2      Poison
3      Poison
4         NaN
        ...
795     Fairy
796     Fairy
797     Ghost
798      Dark
799     Water
Name: Type 2, Length: 800, dtype: object